$font_lexend: lexend, System-UI;
$radius__50_32h: 10px;
$z-index_list: 900;

/* all */
.course {
    padding: 15px 40px;
    max-height: 75vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    animation: identifier 2s linear infinite;

    &::-webkit-scrollbar {
        width: 15px;
        background-color: #ff0080;
        border-radius: 10px;

        &-thumb {
            border-radius: 10px;
            background: #000980;
            cursor: pointer;
        }
    }

    &__title {
        text-align: center;
        padding: 25px 0;
    }
}

/* cursos */
.course {
    &__select-wrapper {
        display: flex;

        app-select-list {
            width: 200px;
            height: 50px;
        }
    }

    &__filters {
        display: flex;
        margin: 10px;
        padding: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;

        &-input {
            font-family: lexend;
            margin: auto;
            height: 35px;
            width: 80%;
            border: none;
            outline: none;
            padding: 5px 13px;
            background: #ff0080;
            font-size: 15px;
            color: #ecfffe;
            box-shadow: 0 1px 1px 0px black;
            border-radius: $radius__50_32h;
            line-height: 36px;

            &::-ms-input-placeholder {
                color: #ecfffe;
            }

            &::placeholder {
                color: #ecfffe;
            }

            &::selection {
                background: #240079;
                color: #ffffff;
            }
        }

        app-select-list {
            width: 200px;
            height: 50px;
        }

    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        z-index: $z-index_list;
        gap: 30px;
    }

    &__empty {
        font-family: $font_lexend;
    }
}