<div class="dashboard">
    <!-- <div class="perfil">
        as
    </div> -->
    <div class="center-separate"></div>
    <div class="workspace">
        <div class="menu__list">
            <input class="menu__item" type="button" value="horario" (click)="selectSection = 0">
            <input class="menu__item" type="button" value="incidentes" (click)="selectSection = 1">
            <input class="menu__item" type="button" value="cursos" (click)="selectSection = 2">
            <input class="menu__item" type="button" value="historial de ingreso" (click)="selectSection = 3">
            <input class="menu__item" type="button" value="notas generales" (click)="selectSection = 4">
        </div>
        <div class="content">
            @if (selectSection == 0) {
            <app-horario class="content__item" />
            }@else if (selectSection == 1) {
            <app-reportes-incidentes class="content__item" />
            }@else if (selectSection == 2) {
            <app-cursos class="content__item" />
            }@else if (selectSection == 3) {
            <app-historial class="content__item" />
            }@else if (selectSection == 4) {}
        </div>
    </div>
</div>