[submodule "ColegioFrontend/ColegioFrontend"]
	path = ColegioFrontend/ColegioFrontend
	url = https://github.com/ramirezherreranoeelvis/ColegioFrontend
[submodule "ColegioBBDD/ColegioBBDD"]
	path = ColegioBBDD/ColegioBBDD
	url = https://github.com/ramirezherreranoeelvis/ColegioBBDD
[submodule "ColegioBackend/Monolito"]
	path = ColegioBackend/Monolito
	url = https://github.com/ramirezherreranoeelvis/ColegioBackend
[submodule "ColegioBackend/ms/colegio-auth-ms"]
	path = ColegioBackend/ms/colegio-auth-ms
	url = https://github.com/ramirezherreranoeelvis/colegio-auth-ms
