[submodule "ColegioFrontend"]
	path = ColegioFrontend
	url = https://github.com/ramirezherreranoeelvis/ColegioFrontend
[submodule "ColegioBackend"]
	path = ColegioBackend/ColegioMonolito
	url = https://github.com/ramirezherreranoeelvis/ColegioBackend
[submodule "ColegioBBDD"]
	path = ColegioBBDD
	url = https://github.com/ramirezherreranoeelvis/ColegioBBDD
