[submodule "ColegioFrontend/ColegioFrontend"]
	path = ColegioFrontend/ColegioFrontend
	url = https://github.com/ramirezherreranoeelvis/ColegioFrontend
[submodule "ColegioBBDD/ColegioBBDD"]
	path = ColegioBBDD/ColegioBBDD
	url = https://github.com/ramirezherreranoeelvis/ColegioBBDD
[submodule "Monolito"]
	path = Monolito
	url = https://github.com/ramirezherreranoeelvis/ColegioBackend
[submodule "colegio-launcher-backend"]
	path = colegio-launcher-backend
	url = https://github.com/ramirezherreranoeelvis/colegio-launcher-backend
