$font_lexend: lexend, System-UI;

.horario {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__table {
        border-collapse: collapse;
        border-color: #99ACFF;
        border-style: solid;
        font-family: $font_lexend;
        border-width: 3px;
    }

    &__header {
        &-row {}

        &-item {
            border-width: 4px;
            border-style: solid;
            background-color: #CDD6FF;
            padding: 10px;

            &:first-child {
                padding: 25px 0;
            }
        }
    }

    &__body {
        &-row {}

        &-item {
            border-width: 4px;
            border-style: solid;
            text-align: center;
            padding: 10px;
            min-width: 100px;
            text-transform: capitalize;
        }

        &-clase {
            .horario__body-item {}
        }

        &-recreo {
            .horario__body-item {}
        }
    }

    &__download{
        margin: 30px;
        width: 200px;
        height: 50px;
        font-family: $font_lexend;
        border: none;
        background: #143ef7;
        color: white;
        border-radius: 10px;
        transition: background .2s;
        font-size: 14px;
        &:hover{
            background: #4869ff;
        }
    }
}