$font_lexend: lexend, System-UI;

.home {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.center-separate {
    width: 1px;
    background-color: black;
}

.perfil {
    display: flex;
    flex: 1;
}

.workspace {
    flex: 3;
    display: flex;
    flex-direction: column;

    .menu {
        &__list {
            position: fixed;
            display: flex;
            width: 100vw;
            font-family: $font_lexend;
            background-color: #2222e4;
            box-shadow: 0px 0px 10px 0px #0000004d;
        }

        &__item {
            flex: 1;
            a {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
                margin: 1px;
                height: 40px;
                flex: 1;
                background: #ffffff;
                color: #1a3cff;
                transition: background .1s, color .1s;

                &:hover {
                    color: #def6ff;
                    background: #ffffff00;
                }
            }

        }
    }

    .content {
        flex: 1;
    }
}