<div class="home">
    <app-perfil class="perfil" />
    <div class="center-separate"></div>
    <div class="workspace">
        <ul class="menu__list">
            <li class="menu__item"><a routerLink="/home/horario">horario</a></li>
            <li class="menu__item"><a routerLink="/home/reportes-incidentes">incidentes</a></li>
            <li class="menu__item"><a routerLink="/home/cursos">cursos</a></li>
            <li class="menu__item"><a routerLink="/home/historial">historial de ingreso</a></li>
            <li class="menu__item"><a routerLink="/home/notas-generales">Notas Generales</a></li>
        </ul>
        <div class="content">
            <!-- <router-outlet /> -->
        </div>
    </div>
</div>