$color-fondo : linear-gradient(130deg, #001c9b 10%, #ff3164 40%, #000a96, #000768, #000768);
.dashboard {
    /* background: $color-fondo; */
    display: flex;
}

.dashboard__center-separate {
    display: flex;
}

.dashboard__center-border {

}
.dashboard__workspace{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}