<div class="horario">
    <h2 class="horario__title"><app-text-gradient text="Horario"/></h2>
    <div class="horario__select">
        <app-select-list default="Selecciona a tu hijo" [items]="studentsList"
            (changeElement)="updateDataStudentSelect($event)" />

        @if (studentSelectDNI!="0") {
        <app-select-list default="Selecciona una temporada" [items]="temporadasList"
            (changeElement)="updateHorario($event)" />
        }@else {
        <span class="horario__mensaje">Usted no tiene ningún hijo seleccionado</span>
        }

    </div>
    @if (studentSelectDNI!="0") {
        @if (horarioView ) {
            <div class="table">
                <app-table-horario [dayHorarioList]="daysHorario" />
            </div>
            <div class="options">
                <input type="button" value="Descargar horario" class="horario__download-button" (click)="donwloadHorario()">
            </div>
        } @else {
            <span class="horario__mensaje">Usted no tiene una temporada escojida</span>
        }
    }

</div>