<section class="home">
    <nav class="home__nav">
        <ul class="home__menu-list">
            <li class="home__menu-item"><a routerLink="/dashboard/home/horario">horario</a></li>
            <li class="home__menu-item"><a routerLink="/dashboard/home/reportes-incidentes">incidentes</a></li>
            <li class="home__menu-item"><a routerLink="/dashboard/home/cursos">cursos</a></li>
            <li class="home__menu-item"><a routerLink="/dashboard/home/historial">historial de ingreso</a></li>
            <li class="home__menu-item"><a routerLink="/dashboard/home/notas-generales">Notas Generales</a></li>
        </ul>
    </nav>
    <div class="home__content">
        <router-outlet></router-outlet>
    </div>
</section>