<div class="history">
    <table class="history__table">
        <thead class="history__head">
            <tr class="history__head-row">
                <th class="history__head-item">Fecha</th>
                <th class="history__head-item"></th>
                <th class="history__head-item">Lunes</th>
                <th class="history__head-item">Martes</th>
                <th class="history__head-item">Miercoles</th>
                <th class="history__head-item">Jueves</th>
                <th class="history__head-item">Viernes</th>
            </tr>
        </thead>
        <tbody class="history__body">
            <tr class="row-space">
                <td></td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item history__semana" rowspan="2">Semana Actual</td>
                <td class="history__body-item">Entrada</td>
                <td class="history__body-item">03/06/2024</td>
                <td class="history__body-item">04/06/2024</td>
                <td class="history__body-item">05/06/2024</td>
                <td class="history__body-item">06/06/2024</td>
                <td class="history__body-item history__row-final_1">07/06/2024</td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item">Salida</td>
                <td class="history__body-item history__asistencia">03/06/2024</td>
                <td class="history__body-item">04/06/2024</td>
                <td class="history__body-item">05/06/2024</td>
                <td class="history__body-item">06/06/2024</td>
                <td class="history__body-item history__row-final_2">07/06/2024</td>
            </tr>
            <tr class="row-space">
                <td></td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item history__semana" rowspan="2">Semana Actual</td>
                <td class="history__body-item">Entrada</td>
                <td class="history__body-item history__falta">27/05/2024</td>
                <td class="history__body-item">28/05/2024</td>
                <td class="history__body-item">29/05/2024</td>
                <td class="history__body-item">30/05/2024</td>
                <td class="history__body-item history__row-final_1">31/05/2024</td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item">Salida</td>
                <td class="history__body-item">27/05/2024</td>
                <td class="history__body-item">28/05/2024</td>
                <td class="history__body-item">29/05/2024</td>
                <td class="history__body-item">30/05/2024</td>
                <td class="history__body-item history__row-final_2">31/05/2024</td>
            </tr>
            <tr class="row-space">
                <td></td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item history__semana" rowspan="2">Semana Actual</td>
                <td class="history__body-item">Entrada</td>
                <td class="history__body-item">20/05/2024</td>
                <td class="history__body-item">21/05/2024</td>
                <td class="history__body-item">22/05/2024</td>
                <td class="history__body-item">23/05/2024</td>
                <td class="history__body-item history__row-final_1">24/05/2024</td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item">Salida</td>
                <td class="history__body-item">20/05/2024</td>
                <td class="history__body-item">21/05/2024</td>
                <td class="history__body-item">22/05/2024</td>
                <td class="history__body-item">23/05/2024</td>
                <td class="history__body-item history__row-final_2">24/05/2024</td>
            </tr>
            <tr class="row-space">
                <td></td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item history__semana" rowspan="2">Semana Actual</td>
                <td class="history__body-item">Entrada</td>
                <td class="history__body-item">fecha 1</td>
                <td class="history__body-item">fecha 2</td>
                <td class="history__body-item">fecha 3</td>
                <td class="history__body-item">fecha 4</td>
                <td class="history__body-item history__row-final_1">fecha 5</td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item">Salida</td>
                <td class="history__body-item">fecha 1</td>
                <td class="history__body-item">fecha 2</td>
                <td class="history__body-item">fecha 3</td>
                <td class="history__body-item">fecha 4</td>
                <td class="history__body-item history__row-final_2">fecha 5</td>
            </tr>
            <tr class="row-space">
                <td></td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item history__semana" rowspan="2">Semana Actual</td>
                <td class="history__body-item">Entrada</td>
                <td class="history__body-item">fecha 1</td>
                <td class="history__body-item">fecha 2</td>
                <td class="history__body-item">fecha 3</td>
                <td class="history__body-item">fecha 4</td>
                <td class="history__body-item history__row-final_1">fecha 5</td>
            </tr>
            <tr class="history__body-row">
                <td class="history__body-item">Salida</td>
                <td class="history__body-item">fecha 1</td>
                <td class="history__body-item">fecha 2</td>
                <td class="history__body-item">fecha 3</td>
                <td class="history__body-item">fecha 4</td>
                <td class="history__body-item history__row-final_2">fecha 5</td>
            </tr>
        </tbody>
    </table>
</div>