<section class="notas">
        <div class="notas__container">
                <div class="notas__content">
                        <h2 class="notas__title">Notas Generales</h2>

                        <div class="notas__filters">
                                <!-- Selección de hijos -->
                                <select name="childSelect" id="childSelect" class="notas__filters-select">
                                        <option [value]="0">Escoje a uno de tus crios</option>
                                </select>
                                <!-- filtro por año-temporada-epoca -->
                                <select name="year" id="yearSelect" class="notas__filters-select" [(ngModel)]="year"
                                        (change)="updateDataCoursesSelect()">
                                        <option selected [value]="0">Periodos</option>
                                        @for (temporada of temporadas; track $index) {
                                        <option [value]="temporada.year">{{temporada.year}}</option>
                                        }
                                </select>
                        </div>
                        <div class="notas__values">
                                <table class="notas__table" border="1">
                                        <thead class="notas__header">
                                                <tr class="notas__header-row">
                                                        <th class="notas__header-item">N°</th>
                                                        <th class="notas__header-item">Curso</th>
                                                        @for (item of cursoNotas[0].notas; track $index) {
                                                        <th class="notas__header-item">{{item.name}}</th>
                                                        }
                                                </tr>
                                        </thead>
                                        <tbody class="notas__body">
                                                @for (cursoNota of cursoNotas; track $index) {
                                                <tr class="notas__body-row">
                                                        <td class="notas__body-item">{{$index + 1}}</td>
                                                        <td class="notas__body-item">{{cursoNota.curso}}</td>
                                                        @for (nota of cursoNota.notas; track $index) {
                                                        <td class="notas__body-item">{{nota.nota}}</td>
                                                        }
                                                </tr>
                                                }
                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>
</section>