$font_lexend: lexend, System-UI;
$color-fondo : linear-gradient(130deg, #ff0080, #ff0080, #000a96, #000768, #000768);
$sombra: 0 0 20px 0 #00000059;
$text-gradient: (
        -webkit-background-clip: text,
        background-clip: text,
        -webkit-text-fill-color: transparent
);
$color__background-filter: #240079;
$radius__50_32h: 10px;
$z-index_list: 900;
$radius__item: 10px;

select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
}

/* all */
.notas {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: $color-fondo;
        overflow: auto;

        &__details-title,
        &__title {
                &::first-letter {
                        text-transform: uppercase;
                }

                text-align: center;
                font-family: "Rubik Dirt";
                background: linear-gradient(45deg, #E31C48, #000980, #8400ffde);
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 2.5rem;
                padding: 25px 0;

                @each $property, $value in $text-gradient {
                        #{$property}: $value;
                }
        }

        &__title {
                background: linear-gradient(45deg, #E31C48, #E31C48, #000980, #8400ffde, #8400ffde);

                @each $property, $value in $text-gradient {
                        #{$property}: $value;
                }

        }

        &__container {
                padding: 20px 0px 20px 0px;
                box-shadow: $sombra;
                border-radius: 20px;
                background: #ffffff;
                overflow: hidden;
                min-width: 45vw;
                min-height: 20vh;
        }

        &__content {
                padding: 0px 40px 0px 40px;
                max-height: 75vh;
                max-width: 70vw;
                display: flex;
                flex-direction: column;
                overflow: auto;
                animation: identifier 2s linear infinite;

                &::-webkit-scrollbar {
                        width: 15px;
                        background-color: #ff0080;
                        border-radius: 10px;

                        &-thumb {
                                border-radius: 10px;
                                background: #000980;
                                cursor: pointer;
                        }
                }
        }
}

/* notas */
.notas {
        &__filters {
                display: flex;
                margin: 10px 0;
                padding: 10px;
                flex-direction: row;
                display: flex;
                justify-content: space-evenly;

                &-select {
                        margin: 0 0 0 20px;
                        text-align: center;
                        width: 200px;
                        height: 50px;
                        color: white;
                        font-size: 15px;
                        font-family: $font_lexend;
                        background: $color__background-filter;
                        border: none;
                        outline: none;
                        border-radius: $radius__50_32h;
                        overflow: hidden;

                        &:hover {
                                background: #000441;
                                color: white;
                                box-shadow: 2px 1px 10px 0 #0000004d;
                        }
                }

        }
}

/* notas la tabla */
.notas {
        &__values {
                display: flex;
                justify-content: center;
        }

        &__table {
                font-family: $font_lexend;
                box-shadow: 0 0 10px 2px #0000004d;
                border-collapse: collapse;
        }

        &__header {}

        &__header-row {}

        &__header-item {
                padding: 5px 10px;
        }

        &__body {}

        &__body-row {
                &:hover {
                        background: #dfdfdf;

                }
        }

        &__body-item {
                text-align: center;
                padding: 2.4px 0px;

                &:nth-child(2) {
                        text-align: left;
                        padding-left: 7px;
                        cursor: pointer;
                }
        }

        &__body-item,
        &__header-item {
                font-size: .85rem;
                border: 2px solid black;
        }

}