<section class="matricula">
    <nav class="matricula__nav">
        <ul class="matricula__menu-list">
            <li class="matricula__menu-item"><a routerLink="/dashboard/matricula/registrar-matricula">registrar matricula</a></li>
            <li class="matricula__menu-item"><a routerLink="/dashboard/matricula/registrar-pago-matricula">pago matricula</a></li>
            <li class="matricula__menu-item"><a routerLink="/dashboard/matricula/registrar-pago-mensual">pago mensualidad</a></li>
        </ul>
    </nav>
    <div class="matricula__content">
        <router-outlet></router-outlet>
    </div>
</section>