<section class="perfil">
    <div class="content">
        <div class="data">
            <label for="">Alumno:{{user.name}}</label>
            <label for="">DNI:{{user.dni}}</label>
            <label for="">Usuario:{{user.user}}</label>
        </div>
        <div class="separation__data-options">
            <div class="border"></div>
        </div>
        <div class="options">
            <input type="button" value="Matricula">
            <input type="button" value="Home">
        </div>
    </div>
</section>