<div class="body">
    <div class="content">
        <div class="horario">
        <table class="horario__table" border="1">
            <thead class="horario__header">
                <tr class="horario__header-row">
                    <th class="horario__header-item" colspan=6>Horario</th>
                </tr>
                <tr class="horario__header-row">
                    <th class="horario__header-item">Hora</th>
                    <th class="horario__header-item">Lunes</th>
                    <th class="horario__header-item">Martes</th>
                    <th class="horario__header-item">Miercoles</th>
                    <th class="horario__header-item">Jueves</th>
                    <th class="horario__header-item">Viernes</th>
                </tr>
            </thead>
            <tbody class="horario__body">
                <tr class="horario__body-row horario__body-clase">
                    <td class="horario__body-item">7:30 - 8:30</td>
                    <td class="horario__body-item">razonamiento matematico</td>
                    <td class="horario__body-item">algebra</td>
                    <td class="horario__body-item">razonamiento verbal</td>
                    <td class="horario__body-item">literatura</td>
                    <td class="horario__body-item">comprension lectora</td>
                </tr>
                <tr class="horario__body-row horario__body-recreo">
                    <td class="horario__body-item">8:30 - 8:40</td>
                    <td class="horario__body-item" colspan=5>recreo</td>
                </tr>
                <tr class="horario__body-row horario__body-clase">
                    <td class="horario__body-item">12:40 - 14:00</td>
                    <td class="horario__body-item">biologia</td>
                    <td class="horario__body-item">historia universal</td>
                    <td class="horario__body-item">quimica</td>
                    <td class="horario__body-item">historia del peru</td>
                    <td class="horario__body-item">geometria</td>
                </tr>
                <tr class="horario__body-row horario__body-recreo">
                    <td class="horario__body-item">8:30 - 8:40</td>
                    <td class="horario__body-item" colspan=5>recreo</td>
                </tr>
                <tr class="horario__body-row horario__body-clase">
                    <td class="horario__body-item">12:40 - 14:00</td>
                    <td class="horario__body-item">biologia</td>
                    <td class="horario__body-item">historia universal</td>
                    <td class="horario__body-item">quimica</td>
                    <td class="horario__body-item">historia del peru</td>
                    <td class="horario__body-item">geometria</td>
                </tr>
                <tr class="horario__body-row horario__body-recreo">
                    <td class="horario__body-item">8:30 - 8:40</td>
                    <td class="horario__body-item" colspan=5>recreo</td>
                </tr>
                <tr class="horario__body-row horario__body-clase">
                    <td class="horario__body-item">12:40 - 14:00</td>
                    <td class="horario__body-item">biologia</td>
                    <td class="horario__body-item">historia universal</td>
                    <td class="horario__body-item">quimica</td>
                    <td class="horario__body-item">historia del peru</td>
                    <td class="horario__body-item">geometria</td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Descargar horario" class="horario__download" (click)="donwloadHorario()">
    </div>
    </div>
</div>