$font_lexend: lexend, System-UI;
$color-fondo : linear-gradient(130deg, #ff0080, #ff0080, #000a96, #000768, #000768);
$sombra: 0 0 20px 0 rgba(0, 0, 0, 0.349);
$color-btnDonwloadHorario: #143ef7;
$sombra-input: 2px 1px 10px 0 #00065a;

.horario {
    background: $color-fondo;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        box-shadow: $sombra;
        border-radius: 20px;
        background: #ffffff;
        padding: 40px 40px 0px 40px;
        display: flex;

        flex-direction: column;
        min-width: 70%;
        min-height: 20vh;
    }

    .x {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    &__select {
        margin: 15px 0;

        &-student {
            text-align: center;
            width: 200px;
            height: 50px;
            color: white;
            font-size: 15px;
            font-family: $font_lexend;
            background: #240079;
            border: none;
            border-bottom: 1px solid;
            outline: none;
            border-radius: 10px;
            overflow: hidden;


            option {
                background-color: #fff;
                color: #ff0080;
            }
        }
    }

    &__table {
        box-shadow: 2px 1px 10px 0 #0000004d;
        border-collapse: collapse;
        border-color: #0044ff;
        border-style: solid;
        font-family: $font_lexend;
        border-width: 3px;
    }

    &__header-item {
        border-width: 4px;
        border-style: solid;
        background-color: #00b7ff;
        color: #000;
        padding: 10px;

        &:first-child {
            padding: 25px 0;
        }

    }

    &__body-item {
        border-width: 4px;
        border-style: solid;
        text-align: center;
        padding: 10px;
        min-width: 100px;
        text-transform: capitalize;

    }

    &__download-button {
        margin: 30px;
        width: 200px;
        height: 50px;
        font-family: $font_lexend;
        border: none;
        background: $color-btnDonwloadHorario;
        color: white;
        border-radius: 10px;
        transition: background .2s, box-shadow .2s;
        font-size: 15px;

        &:hover {
            background: #4400ff;
            box-shadow: $sombra-input;
        }
    }

    &__mensaje {
        font-family: $font_lexend;
    }
}