$font_lexend: lexend, System-UI;
$background-menu: linear-gradient(45deg, #4032ff, #913dff, #ff0080, #4032ff, #4032ff, #913dff, #ff0080, #4032ff);

.matricula {
    background-color: #fff;
    width: 100vw;
    height: 100vh;

    &__content {
        height: calc(100% - 37px);
    }
}

@keyframes background_animation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 800% 0;
    }

    100% {
        background-position: 0 0;
    }
}