<section class="course">
    <div class="course__base">
        <div class="course__content">
            <!-- para seleccionar hijos -->
            <div class="course__select-wrapper">
                <select name="childSelect" id="childSelect"></select>
            </div>
            <!-- para filtros por temporadas entre otros -->
            <div class="course__filters">
                <input type="text" name="nameFind" class="course__filters-input" placeholder="Busque sus cursos por nombre"
                    [(ngModel)]="nameFind">
                <select name="year" id="yearSelect" class="course__filters-select" [(ngModel)]="year"
                    (change)="updateDataCoursesSelect()">
                    <option selected [value]="0">Periodos</option>
                    @for (temporada of temporadas; track $index) {
                    <option [value]="temporada.year">{{temporada.year}}</option>
                    }
                </select>
            </div>
            <!-- los cursos -->
            <div class="course__list">
                @for (curso of cursos; track 1) {
                <article class="course__item">
                    <div class="course__item-cover">
                        <div class="course__item-cover-overlay"></div>
                        <img [src]="curso.portada" alt="Portada del curso" class="course__item-cover-image">
                    </div>
                    <div class="course__item-name">{{curso.name}}</div>
                    <div class="course__item-id">{{curso.id}}</div>
                    <div class="course__item-teacher">{{curso.profesores[0]}}</div>
                </article>
                }
            </div>
        </div>
    </div>

</section>