$font_lexend: lexend, System-UI;
$color-fondo : linear-gradient(130deg, #ff0080, #ff0080, #000a96, #000768, #000768);
$sombra: 0 0 20px 0 #00000059;
$color-btnDonwloadHorario: #143ef7;
$sombra-input: 2px 1px 10px 0 #00065a;
$color__background-filter: #240079;
$radius__50_32h: 10px;
$radius__item: 10px;
$color__sombra-menu_salir: linear-gradient(45deg, #4032ff93, #913dff93, #ff2f9e93, #4032ff93, #4032ff93, #913dff93, #ff2f9e93, #4032ff93);
$line__menu: linear-gradient(90deg, #913dff93, #4032ff93);
$line__menu: linear-gradient(90deg, #000a96, #4032ff93);
$z-index_menu: 900;
$z-index_list: 900;
$text-gradient: (
        -webkit-background-clip: text,
        background-clip: text,
        -webkit-text-fill-color: transparent
);

select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
}

/* all */
.course {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: $color-fondo;
        overflow: auto;

        &__details-title,
        &__title {
                &::first-letter {
                        text-transform: uppercase;
                }

                text-align: center;
                font-family: "Rubik Dirt";
                background: linear-gradient(45deg, #E31C48, #000980, #8400ffde);
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 2.5rem;
                padding: 25px 0;

                @each $property, $value in $text-gradient {
                        #{$property}: $value;
                }
        }

        &__title {
                background: linear-gradient(45deg, #E31C48, #E31C48, #000980, #8400ffde, #8400ffde);

                @each $property, $value in $text-gradient {
                        #{$property}: $value;
                }

        }

        &__container {
                padding: 20px 0px 20px 0px;
                box-shadow: $sombra;
                border-radius: 20px;
                background: #ffffff;
                overflow: hidden;
                min-width: 45vw;
                min-height: 20vh;
        }

        &__content {
                padding: 0px 40px 0px 40px;
                max-height: 75vh;
                max-width: 70vw;
                display: flex;
                flex-direction: column;
                overflow: auto;
                animation: identifier 2s linear infinite;

                &::-webkit-scrollbar {
                        width: 15px;
                        background-color: #ff0080;

                        &-thumb {
                                border-radius: 10px;
                                background: #000980;
                                cursor: pointer;
                        }
                }
        }
}

/* cursos */
.course {
        &__select-wrapper {
                display: flex;

                select {
                        margin: 0 10px;
                        text-align: center;
                        width: 200px;
                        height: 50px;
                        color: white;
                        font-size: 15px;
                        font-family: $font_lexend;
                        background: $color__background-filter;
                        border: none;
                        outline: none;
                        border-radius: $radius__50_32h;
                        overflow: hidden;

                        &:hover {
                                background: #000441;
                                color: white;
                                box-shadow: 2px 1px 10px 0 #0000004d;
                        }
                }
        }

        &__filters {
                display: flex;
                margin: 10px;
                padding: 10px;
                flex-direction: row;
                justify-content: space-evenly;

                &-input {
                        font-family: lexend;
                        margin: auto;
                        height: 35px;
                        width: 80%;
                        border: none;
                        outline: none;
                        padding: 5px 13px;
                        background: #ff0080;
                        font-size: 15px;
                        color: #ecfffe;
                        box-shadow: 0 1px 1px 0px black;
                        border-radius: $radius__50_32h;
                        line-height: 36px;

                        &::-ms-input-placeholder {
                                color: #ecfffe;
                        }

                        &::placeholder {
                                color: #ecfffe;
                        }

                        &::selection {
                                background: #240079;
                                color: #ffffff;
                        }
                }

                &-select {
                        margin: 0 0 0 20px;
                        text-align: center;
                        width: 200px;
                        height: 50px;
                        color: white;
                        font-size: 15px;
                        font-family: $font_lexend;
                        background: $color__background-filter;
                        border: none;
                        outline: none;
                        border-radius: $radius__50_32h;
                        overflow: hidden;

                        &:hover {
                                background: #000441;
                                color: white;
                                box-shadow: 2px 1px 10px 0 #0000004d;
                        }
                }

        }

        &__list {
                display: flex;
                justify-content: space-evenly;
                flex-flow: row wrap;
                z-index: $z-index_list;
        }

        &__item {
                position: relative;
                cursor: pointer;
                border: 1px solid rgb(179, 179, 179);
                margin: 30px 18px;
                font-family: lexend;
                background-color: #fff;
                font-size: 15px;
                $margin-datos: 10px 10px;
                top: 0;
                transition: .3s;
                color: #363636;
                box-shadow: $sombra;
                border-radius: $radius__item;
                overflow: hidden;
                box-shadow: 0 0 10px 2px #0000004d;

                &:hover {
                        top: -10px;
                        box-shadow: 3px 10px 16px 0px #0000005e;

                }

                &-cover {

                        &-image {
                                width: 380px;
                                height: 100px;
                        }

                        &-overlay {
                                position: absolute;
                                background-color: #ffffff00;
                                width: 380px;
                                height: 100px;
                        }

                }

                &-details {}

                &-name {
                        margin: $margin-datos;
                }

                &-code {
                        margin: $margin-datos;
                        background-color: #fff;
                }

                &-teacher {
                        margin: $margin-datos;
                }

                &-name,
                &-code,
                &-teacher {
                        &::selection {
                                background: #240079;
                                color: #ffffff;
                        }
                }
        }
}

/* btn menu hamburguesa para sair */
.course {
        &__exit {
                display: block;
                position: fixed;
                z-index: $z-index_menu;
                width: 46px;
                height: 38px;

                &-content {
                        position: fixed;
                        position: relative;
                        flex-direction: column;
                        justify-content: space-between;
                        display: flex;
                        margin: 5px 0px 0px 5px;
                        padding: 5px;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        border-radius: 5px;
                        background-color: #fff;

                        &::before {
                                position: absolute;
                                content: "";
                                z-index: -1;
                                border-radius: 10px;
                                background-position: 800% 0;
                                width: 105%;
                                height: 105%;
                                left: -1px;
                                top: -1px;
                                filter: blur(3px);
                                box-shadow: 0 0 3px 2px #0000004d;
                                background: $color__sombra-menu_salir;
                                background-size: 800%;
                                animation: background_animation 20s linear infinite;
                        }
                }

                &-line {
                        overflow: hidden;
                        position: relative;
                        height: 7px;
                        border-radius: 50px;
                        transform-origin: left;
                        transition: .8s transform ease-in-out, opacity .5s ease-in-out;
                        background: $line__menu;
                        left: 0px;
                        opacity: 1;

                        &::after {
                                top: 0;
                                left: -55px;
                                border-radius: 50px;
                                position: absolute;
                                content: "";
                                background: $line__menu;
                                width: 120%;
                                height: 100%;
                                filter: blur(3px);
                                animation: menu 1s linear infinite;
                        }

                        &:nth-child(1) {
                                transform: rotate(35deg) scaleX(1.2);
                        }

                        &:nth-child(2) {
                                transform: rotate(-35deg) scaleX(1.2);
                        }
                }
        }
}

/* curso seleccionado */
.course {
        font-family: $font_lexend;

        &__details-title, .app-recurso {
                margin: 50px 0 0 0;
        }

        &__professors,
        &__data,
        &__contents,
        &__content {
                &-title {
                        padding: 10px 0;
                        font-size: 1rem;
                        font-weight: bold;
                        cursor: pointer;
                }
        }

        &__professors,
        &__data,
        &__contents {
                summary::marker {
                        color: #ff0077;
                }

                width: 100%;
                padding: 10px;
        }

        &__separation {
                position: relative;
                height: 1px;
                z-index: 800;
                background: $color__sombra-menu_salir;
                background-size: 300%;
                background-position: 300% 0;
                animation: background_animation-separation 20s linear infinite;
                border-radius: 2px;
                margin-bottom: 20px;
        }

        &__professors {
                &-list {
                        font-size: .85rem;
                }
        }

        &__professor {}

        &__data {
                &-list {
                        font-size: .80rem;

                        span {
                                font-weight: bold;
                        }
                }

                &-item {}
        }

        &__contents {
                &-title {
                        margin-bottom: 10px;
                }

                &-list {}
        }

        &__content {
                &-item {
                        box-shadow: 0 2px 2px 1px #0000004d;
                        margin-bottom: 10px;
                        background-color: #fff;
                        border-radius: 10px;
                }

                &-title {
                        box-shadow: 0 0 3px 2px #0000004d;
                        display: flex;
                        align-items: center;
                        background: #00054e;
                        color: #ffffff;
                        padding: 20px 5px;
                        margin-bottom: -1px;
                        max-height: 60px;
                        transition: .1s ease-in-out;
                        border-radius: 10px;

                        .book-icon {
                                width: 40px;
                                height: 40px;
                                padding: 5px 10px;

                                .cover {
                                        fill: #4264ff;
                                        /* Color de la cubierta */
                                        stroke: #6200ff;
                                        /* Borde de la cubierta */
                                        stroke-width: 4;
                                }

                                .page {
                                        fill: #ff0077;
                                }

                                .inner-page {
                                        fill: #ff0077;
                                }

                                .spine {
                                        fill: #2C3E50;
                                }
                        }

                        &:hover {
                                background: #ff0080;

                                .book-icon {
                                        width: 40px;
                                        height: 40px;
                                        padding: 5px 10px;

                                        .cover {
                                                fill: #000000;
                                                /* Color de la cubierta */
                                                stroke: #000000;
                                                /* Borde de la cubierta */
                                                stroke-width: 4;
                                        }

                                        .page {
                                                fill: #ffffff;
                                        }

                                        .inner-page {
                                                fill: #ffffff;
                                        }

                                        .spine {
                                                fill: #000000;
                                        }
                                }
                        }
                }


        }

        &__resources {

                &-separation {
                        display: flex;
                        justify-content: center;

                        div {
                                width: 95%;
                                position: relative;
                                height: 1px;
                                z-index: 800;
                                background: $color__sombra-menu_salir;
                                background-size: 300%;
                                background-position: 300% 0;
                                animation: background_animation-separation 20s linear infinite;
                                border-radius: 2px;
                        }

                }
        }

        &__resource {
                padding: 25px 10px;
                cursor: pointer;
                
                &:hover {
                        background: #eeeeee;
                }


        }
}

@keyframes background_animation {
        0% {
                background-position: 0 0;
        }

        50% {
                background-position: 800% 0;
        }

        100% {
                background-position: 0 0;
        }
}

@keyframes background_animation-separation {
        0% {
                background-position: 0 0;
        }

        50% {
                background-position: 300% 0;
        }

        100% {
                background-position: 0 0;
        }
}

@keyframes menu {
        from {
                left: -55px;
        }

        to {
                left: 47px;
        }
}