/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

app-root {
    display: flex;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;

    &::-webkit-scrollbar {
        width: 15px;
        background-color: #ff0080;

        &-thumb {
            border-radius: 50px;
            background: #1900ff;
        }
    }
}